[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/backslashxx/KernelSU
	branch = 12055-sus155
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/HomuHomu833/AnyKernel3-Universal9611/
